<!DOCTYPE html>
<html>

<head>
    <title>SiwBook - Update Book</title>
    <link rel="stylesheet" href="/css/manageAutori.css"/>
</head>

<body>
	<header>
	    <div th:if="${#request.userPrincipal}">
	        <span th:text="${#request.userPrincipal.principal.username}"></span>
	        <a href="/logout">
	            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
	        </a>
	    </div>
	    <div th:unless="${#request.userPrincipal}">
	        <a href="/login">
	            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
	        </a>
	    </div>
	</header>

	<div class="logo">
	    <a href="/"><img src="/images/logo-siw.png" width="50%"/></a>
	</div>
	
	
	<div id="flex-container">
	    <div class="actor-section">
	        <div th:if="${autore}">
	            <h1 th:text="'Aggiorna autore'+ ' *'+ ${autore.nome} + ${autore.cognome} + '*'"></h1>
	            <form th:action="@{'/admin/updateAutore/' + ${autore.id}}" method="POST" th:object="${autore}">
	                <div>
	                    <label>Nome: </label>
	                    <input type="text" th:field="${autore.nome}"/>
	                </div>
	                <div>
	                    <label>Cognome: </label>
	                    <input type="text" th:field="${autore.cognome}"/>
	                </div>
	                <div>
	                    <label>Data di nascita:</label>
	                    <input type="date" th:field="${autore.dataNascita} "/>
	                </div>
	                <button class="btn btn-outline-primary" type="submit">Conferma</button>
	            </form>
			</div>
		</div>
	</div>
</body>


<footer>
    <div class="footer_div">
        <a href="/admin/manageAutori">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Torna indietro</button>
        </a>
    </div>
</footer>
</html>