<!DOCTYPE html>
<html>

<head>
    <title>SiwBook - Update Book</title>
    <link rel="stylesheet" href="/css/manageLibri.css"/>
</head>

<body>
<header>
    <div th:if="${#request.userPrincipal}">
        <span th:text="${#request.userPrincipal.principal.username}"></span>
        <a href="/logout">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Logout</button>
        </a>
    </div>
    <div th:unless="${#request.userPrincipal}">
        <a href="/login">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Login</button>
        </a>
    </div>
</header>

<div class="logo">
    <a href="/"><img src="/images/logo-siw.png" width="50%"/></a>
</div>

<div id="flex-container">
    <div class="actor-section">
        <div th:if="${libro}">
            <h1 th:text="'Aggiorna film'+ ' *'+ ${libro.titolo} + '*'"></h1>
            <form th:action="@{'/admin/updateLibro/' + ${libro.id}}" method="POST" th:object="${libro}">
                <div>
                    <label>Titolo: </label>
                    <input type="text" th:field="${libro.titolo}"/>
                </div>
                <div>
                    <label>Anno di uscita:</label>
                    <input type="number" th:field="${libro.annoPubblicazione}"/>
                </div>
                <button class="btn btn-outline-primary" type="submit">Conferma</button>
            </form>

            <div>
                <label>Autori: </label>
                
                <div th:each="autore: ${libro.autori}">
                    <li>
                    	<span th:text="${autore.nome} + ' ' + ${autore.cognome}">Al Pacino</span>
                    </li>
                </div>
                
                <a th:href="@{'/admin/updateAutori/' + ${libro.id}}">
                    <button class="btn btn-outline-primary" type="submit">Modifica</button>
                </a>
                
            </div>
        </div>
    </div>

        <div class="review-section">
	        <div th:if="${libro}">
	            <span>Recensioni: </span>
	            <div th:unless="${!libro.recensioni.isEmpty()}">Non ci sono recensioni da cancellare</div>
	            <div th:each="recensione: ${libro.recensioni}">
	                <span th:text="${recensione.titolo} + ' ' + ${recensione.commento} + ' ' + ${recensione.voto}">Al Pacino 4</span>
	                <a th:href="@{'/admin/deleteRecensione' + '/' + ${recensione.id} + '/' + ${libro.id}}"> Cancella </a>
	            </div>
	        </div>
        </div>
    	<div th:unless="${libro}">Libro non esistente</div>
</div>
</body>

<footer>
    <div class="footer_div">
        <a href="/admin/manageLibri">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Torna indietro</button>
        </a>
    </div>
</footer>
</html>