<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>
		New Libro
	</title>
	<link rel="stylesheet" href="/css/newLibro.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>
	<div class="logo"><a href="/"><img src="/images/logo-siw.png" width="50%"/></a></div>
	<h1>Aggiungi un libro</h1>
	<form th:action="@{/libro}" method="POST" th:object="${libro}">
  		<div th:if="${#fields.hasGlobalErrors()}">
  			<p th:each="err : ${#fields.globalErrors()}" th:text="${err}">...</p> 
  		</div>
		
		<div>
			<label>Titolo:</label>
			<span><input type="text" th:field="${libro.titolo}" /></span>
		    <span th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}">
		    </span>
		</div>

		<div>
			<label>Anno:</label> <span><input type="text" th:field="${libro.annoPubblicazione}" /></span>
		    <span th:if="${#fields.hasErrors('annoPubblicazione')}" th:errors="*{annoPubblicazione}">
		    </span>
		</div>

		<div>
			<label>URL immagine:</label> <span><input type="text" th:field="${libro.urlImage}" /></span>
		</div>
		
		<div>
			<span><button type="submit">Conferma</button></span>
		</div>
	</form>
</body>

</html>