<!DOCTYPE html>
<html>
<head>
	<title>
		SiwBook - Homepage
	</title>
	<title>Contattaci</title>
	<link rel="stylesheet" href="/css/index.css" />
</head>
<body>

	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a href="/login">Login</a>
		</div>
	</header>
	
	<div class = "logo"><a href="/"><img src="/images/logo-siw.png" width="50%" /></a></div>
	
	<h1>Contattaci</h1>
	<p>Puoi scriverci a: info@siwbook.it</p>
	<a href="/">Torna alla homepage</a>
	
</body>
</html>