<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>
		SiwBook - Login
	</title>
	<link rel="stylesheet" href="/css/login.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a th:href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a th:href="/login">Login</a>
		</div>
	</header>

	<div>
		<a th:href="/"><img src="/images/logo-siw.png" width="50%"/></a>
	</div>
	<h1>Login</h1>
	<form th:action="@{/login}" method="POST">
			<div>
				<span>Username:</span>
				<span><input name="username" type="text" required /></span>
			</div>
			<div>
				<span>Password:</span>
				<span><input name="password" type="password" required /></span>
			</div>
			<div>
				<span th:if="${param.error != null}">Username o password errati</span>
			</div>
			<div>
				<span><button type="submit">Login</button></span>
			</div>
	</form>
	
	<div>
		<p>Oppure accedi con:</p>
			<a th:href="/oauth2/authorization/google" class="btn btn-primary">Login con Google</a>
	</div>
	
	<div>
		<a th:href="@{/register}" th:text="Registrati">Registrati</a>
	</div>
</body>

</html>