<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>
		SiwBook - Homepage
	</title>
	<link rel="stylesheet" href="/css/index.css" />
</head>

<body>
	<header>
		<div th:if="${#request.userPrincipal}">
			<span th:text="${#request.userPrincipal.principal.username}"></span>
			<a th:href="/logout">Logout</a>
		</div>
		<div th:unless="${#request.userPrincipal}">
			<a th:href="/login">Login</a>
		</div>
	</header>
	
	<main>
		<div class = "logo"><img src="/images/logo-siw.png" width="50%" /></div>
		<h1>Consulta l'archivio</h1>
		<div>
			<a th:href="/libro">Elenco Libro</a>
		</div>
		<div>
			<a th:href="/autore">Elenco Autori</a>
		</div>
	</main>
	
	<div th:insert="fragments/footer :: footer"></div>
	
</body>

</html>