<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>Libro</title>
		<link rel="stylesheet" href="/css/libri.css" />
	</head>

	<body>
		<header>
			<div th:if="${#request.userPrincipal}">
				<span th:text="${#request.userPrincipal.principal.username}"></span>
				<a th:href="/logout">Logout</a>
			</div>
			<div th:unless="${#request.userPrincipal}">
				<a th:href="/login">Login</a>
			</div>
		</header>
	
		<div class="logo"><img src="/images/logo-siw.png" width="50%"/></div>
		<div class = "home"><a href="/"> Home </a></div>
		<h1>Libro</h1>
		<div th:if="${libri==null || libri.isEmpty()}">Non ci sono libro nel sistema</div>
		<ul>
			<li th:each="libro : ${libri}">
				<a th:href="@{'/libro' + '/' + ${libro.id}}"
					th:text="${libro.titolo} + ' (' + ${libro.annoPubblicazione} + ')'">Up! (2000)</a>
			</li>
		</ul>
		
		<div th:insert="fragments/footer :: footer"></div>
	</body>
		
	<div class="button">
		<a th:href="/">
			<button class="btn btn-outline-primary my-2 my-sm-0" type= "submit">Torna indietro</button>
		</a>
	</div>

</html>