/* Reset some default styles */
body, h1, h2, h3, p, li, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    text-align: right;
}

header a {
    color: #fff;
    text-decoration: none;
    margin-left: 10px;
}

.logo{
	text-align:center;
	margin-top:10px;
}

img {
    max-width: 100%;
    height: auto;
}


h1 {
    text-align: center;
    margin: 20px 0;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

a {
	margin-left:10px;
    color: #007bff;
}
